.login-container {
    background-color: var(--card-bg);
    width: 100%;
    max-width: 420px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 2.5rem;
    position: relative;
    overflow: hidden;

}

.login-container::before {
    
}